# Auto detect text files and perform LF normalization
*              text=auto eol=lf

# Windows line endings
*.bat          text      eol=crlf
*.cmd          text      eol=crlf
*.ps1          text      eol=crlf

# Exclude files from exporting
.gitattributes export-ignore
.gitignore     export-ignore
